@font-face {
    font-family: "Fira Code";
    src: url("https://cdn.jsdelivr.net/gh/ychalier/pifekit/fonts/Fira_Code/FiraCode-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Fira Code";
    src: url("https://cdn.jsdelivr.net/gh/ychalier/pifekit/fonts/Fira_Code/FiraCode-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Fira Code";
    src: url("https://cdn.jsdelivr.net/gh/ychalier/pifekit/fonts/Fira_Code/FiraCode-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Fira Code";
    src: url("https://cdn.jsdelivr.net/gh/ychalier/pifekit/fonts/Fira_Code/FiraCode-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Fira Code";
    src: url("https://cdn.jsdelivr.net/gh/ychalier/pifekit/fonts/Fira_Code/FiraCode-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    --text: black;
    --background-primary: rgb(226, 226, 226);
    --background-secondary: white;
    --background-tertiary: rgb(246, 246, 246);
    --border: grey;
    --border-dim: rgb(173, 173, 173);
    --button-hover: #d0d0d0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-primary);
    color: var(--text);
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    font-size: 11pt;
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    user-select: none;
}

#panels {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.panel {
    padding: 1em;
    border: 1px solid var(--border);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--background-secondary);
}

.panel-noise {
    border-right: none;
}

.panel-buttons {
    margin-bottom: .4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.panel-canvas {
    border: 1px solid var(--border-dim);
    image-rendering: crisp-edges;
}

.panel-inputs {
    overflow-y: auto;
}

.input-group {
    margin-top: .4rem;
    background: var(--background-tertiary);
    border: 1px solid var(--border-dim);
    padding: .4rem 1em;
}

.input-group summary {
    font-weight: bold;
}

input,
button,
select,
option {
    font: inherit;
}

button {
    padding: .4rem;
    background-color: var(--background-primary);
    border: 1px solid var(--border);
    color: inherit;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover);
}

.panel button,
.panel select {
    border-color: 1px solid var(--border-dim);
}

select {
    background: var(--background-primary);
    border-radius: 0;
    border: 1px solid var(--border);
    color: inherit;
    padding: .4rem;
}

select option {
    cursor: pointer;
    background: var(--background-primary);
}

select option:hover {
    background-color: var(--button-hover);
}

.panel-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    margin-top: .4rem;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.input-wrapper > * {
    margin-right: .4rem;
}

.input-wrapper > *:last-child {
    margin-right: none;
}

.input-wrapper button {
    margin-top: 0;
}

.panel-input-range .input-wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.panel-input-select {
    flex-direction: row;
    align-items: center;
}

.panel-input-select label {
    margin-right: .4rem;
}

.panel-input-boolean {
    flex-direction: row;
    align-items: center;
}

.panel-input-range input[type="range"],
.panel-input-seed input[type="number"] {
    width: 100%;
}

.panel-input-range input[type="number"] {
    max-width: 4rem;
}

.panel-input-spline {
    overflow: visible;
}

.panel canvas { 
    border: 1px solid var(--border-dim);
}

.panel-buttons > * {
    margin: 0 .4rem 0 0;
}

.panel-buttons > *:last-child {
    margin-right: .4rem;
}

.panel-input-colormapping {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.panel-input-colormapping-stops-up,
.panel-input-colormapping-stops-down {
    position: relative;
    width: 336px;
    height: 2rem;
}

.panel-input-colormapping-stops-up {
    margin-bottom: .2rem;
}

.panel-input-colormapping-stops-down {
    margin-top: .2rem;
}

.colorstop-cursor,
.colorstop-input {
    position: absolute;
    transform: translateX(-50%);
}

.colorstop-cursor {
    bottom: 0;
    width: 0;
    height: 0;
    border-left: .8rem solid transparent;
    border-right: .8rem solid transparent;
    border-top: 1rem solid black;
    cursor: grab;
}

.colorstop-input {
    top: 0;
    width: 1rem;
    border: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: none;
}

.modal.active {
    display: block;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: var(--background-secondary);
    padding: 1em;
    border: 1px solid var(--border);
}

.modal-title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: .4rem;
}

.modal-footer {
    margin-top: .4rem;
}

.contextmenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border);
}

.contextmenu-entry {
    background: var(--background-secondary);
    padding: .4rem;
    border-bottom: 1px solid var(--border-dim);
    cursor: pointer;
}

.contextmenu-entry:hover {
    background: var(--background-primary);
}

.contextmenu-entry:last-child {
    border-bottom: none;
}

.panel-input-colormapping.grabbing,
.panel-input-colormapping.grabbing *{
    cursor: grabbing !important;
}

@media (max-width: 900px) {
    #panels {
        flex-direction: column;
        width: fit-content;
        max-width: 100%;
        margin: auto;
    }
    .panel-noise {
        border-right: 1px solid var(--border);
        border-bottom: none;
    }
    .panel-output {
        margin-bottom: 1em;
    }
}